::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: pink;
  border-radius: 10px;
  width: 0px;
  display: none;
}
